<a href="https://colab.research.google.com/github/alejandromunizsiques/Nuevo-repositorio/blob/main/Ejercicio_dif%C3%ADcil_para_ordenar_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Subir Librerias

In [2]:
import pandas as pd

# Subir Dataset

In [85]:
df = pd.read_csv('/content/drive/MyDrive/Data Science Coding Dojo/PandasParaManipulaciónDeDatos/GDP.csv',skiprows=4)
df.head()

  Country Name Country Code  ...          2017 Unnamed: 62
0        Aruba          ABW  ...           NaN         NaN
1  Afghanistan          AFG  ...  2.081530e+10         NaN
2       Angola          AGO  ...  1.242094e+11         NaN
3      Albania          ALB  ...  1.303935e+10         NaN
4      Andorra          AND  ...  3.012914e+09         NaN

[5 rows x 63 columns]

In [63]:
df= df.drop(columns="Unnamed: 62",axis = 0)

In [89]:
df = df.rename(columns={"Country Name":"Pais","Country Code":"Codigo del pais","Indicator Name":"Año","Indicator Code":"PIB"})
df.head()

          Pais Codigo del pais  ...          2017 Unnamed: 62
0        Aruba             ABW  ...           NaN         NaN
1  Afghanistan             AFG  ...  2.081530e+10         NaN
2       Angola             AGO  ...  1.242094e+11         NaN
3      Albania             ALB  ...  1.303935e+10         NaN
4      Andorra             AND  ...  3.012914e+09         NaN

[5 rows x 63 columns]

In [90]:
Columnas_necesarias = ["Pais","Codigo del pais","Año","PIB"]
df_1 = pd.melt(df,id_vars=Columnas_necesarias)

In [103]:
df_1.head()

          Pais Codigo del pais             PIB variable         value
0        Aruba             ABW  NY.GDP.MKTP.CD     1960           NaN
1  Afghanistan             AFG  NY.GDP.MKTP.CD     1960  5.377778e+08
2       Angola             AGO  NY.GDP.MKTP.CD     1960           NaN
3      Albania             ALB  NY.GDP.MKTP.CD     1960           NaN
4      Andorra             AND  NY.GDP.MKTP.CD     1960           NaN

In [110]:
df_1= df_1 = df_1.rename(columns={"variable":"Año","value":"PIB"})
df_1.head()

          Pais Codigo del pais   Año           PIB
0        Aruba             ABW  1960           NaN
1  Afghanistan             AFG  1960  5.377778e+08
2       Angola             AGO  1960           NaN
3      Albania             ALB  1960           NaN
4      Andorra             AND  1960           NaN